.completed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.completed-title {
    color: var(--black, #262626);
    font-family: Skywalks;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (min-width:768px) {

    .completed-title {
        font-size: 32px;
    }
}