.thaella-Component5-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thaella-Component5-div{
    width: 100%;
    /* min-height: 100vh; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.thaella-Component5-heading{

    /* width: 100%; */
    color: var(--white, white);
    background-color: #262626;
    font-family: 'Skywalks';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;

}

.thaella-Component5-img{
    width: 100%;
}
.thaella-Component5-div2{
    /* max-height: 30vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap : 30px;
    align-items: center;
    background-color: #262626;
    /* height: 40vh; */
    border-radius: 10px;
    width: 100%;
    max-width: 234px;
    position: relative;
    top: -35px;
    /* padding-bottom: 15px; */
    max-width: 320px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.thaella-Component5-div2-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.thaella-Component5-div2-1-1{
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Skywalks';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%/* 48px */;
    letter-spacing: 1px;
}



.thaella-Component5-div2-1-2{
    color: var(--white, #FFF);
    text-align: left;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; 
    padding-left: 10px;
    padding-right: 10px;
}

.thaella-Component5-div2-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    color: white;
    min-height: 7vh;

}

.thaella-Component5-div2-2-1{
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.5px; /* 58.333% */
}

.thaella-Component5-div2-2-2{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; /* 58.333% */
    white-space: nowrap;
}
@media screen and (min-width: 426px) {
    /* .thaella-Component5-div{
        min-height: 100vh;
    } */
}
@media screen and (min-width:768px) {
    
    .thaella-Component5-heading{
        margin-top: 15px;
    }

    .thaella-Component5-div2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-height: 50vh;
        position: relative;
        top: -107px;
        padding-bottom: 20px;
        max-width: 750px;
    }
    .thaella-Component5-div2-2{
        gap: 0px;
    }

    .thaella-Component5-div2-2-1{
        color: var(--white, #FFF);
        text-align: center;
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 58.333% */
        margin-bottom: 20px;
    }

    .thaella-Component5-div2-1-2{
        color: var(--white, #FFF);
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        max-width: 387px;
    }
    .thaella-Component5-img{
        max-width: 1000px;
    }

    .thaella-Component5-div2-1{
        justify-content: space-between;
        align-items: flex-start;
    }
    .thaella-Component5-div2-1-1{
        font-size: 40px;
        padding-top: 20px;
    }
}

@media screen and (min-width:768px) and (max-width: 1000px)  {
    .thaella-Component5-div2{
        top: -70px
    }
}