*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.road-Component1-div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* gap: 20px; */
}

.road-Component1-text1{
    color: var(--Black, #262626);
text-align: center;
font-family: Skywalks;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: 203px; /* 392.969% */
letter-spacing: 1.333px;
text-align: center;
}

.road-Component1-text2{
    color: var(--Black, #262626);
    font-family: Skywalks;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
}

.road-Component1-text3{
    color: var(--Black, #262626);
    font-family: Skywalks;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    text-align: center;
}

/* @media screen and (max-widht:768px) {
    .road-Component1-text1{
        font-size: 24px;
    }
} */