.timber-Component3-div {
    /* min-height: 130vh; */
    width: 100%;
    background-image: url('../assets/woodenbg.png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 45px;
}

.timber-Component3-heading {
    color: var(--white, #262626);
    font-family: 'Skywalks';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 45px;
    margin-bottom: 30px;
}

.timber-Component3-div2 {
    max-width: 856px;
    border-radius: 20px;
    background-color:#FEE8D0;
    padding: 20px;
    margin-left: 23px;
    margin-right: 23px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
}



.timber-Component3-div2-text {
    color: black;
    font-family: 'Lato';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}




.timber-Component3-img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 180px; */
    align-items: center;
}

.timber-Component3-left {
    width: 95px;
}

.timber-Component3-right {
    width: 95px;
}



@media screen and (min-width : 768px) {
    .timber-Component3-div {
        min-height: 100vh;
    }

    .timber-Component3-heading {
        font-size: 52px;
    }

    .timber-Component3-left {
        width: 250px
    }

    .timber-Component3-right {
        width: 250px
    }
    
    
    .timber-Component3-div2 {
        max-width: 700px;
        width: 100%;
    }
}

@media screen and (min-width: 742px) and (max-width: 970px){
    .timber-Component3-left {
    width: 215px;
}

.timber-Component3-right {
    width: 215px;
}

.timber-Component3-img-container{
    justify-content: space-between;
}

}