
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.idea-Component1-div{
    background-image: url('../assets/ideabg.jpeg');
    min-height: 45vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .idea-Component1-div{
        height: 100vh;
    }

    .idea-Component1-content{
        font-size: 110px;
    }

    
}



.idea-Component1-content{
    color: white;
    font-family: 'Lato';
    font-size: 170px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3.8px;
    text-align: center;
    /* max-height: 10vh; */
}
@media only screen and (min-width: 769px) and (max-width: 1100px) {
    .idea-Component1-content{
        font-size: 70px;
    }

}
@media screen and (max-width:769px) {
    .idea-Component1-content{
        font-size: 50px;
    }
}