
.right-child {
    display: flex;
    align-items: center;
    transform: translateX(25px);
}

.right-image-div {
    border-radius: 0 9999px 9999px 0;
    overflow: hidden;
    height: 250px;
    width: 125px;
}

.right-image {
    border-radius: 0 9999px 9999px 0;
    height: 250px;
    width: 125px;
    object-fit: fill;
}

.right-content-div {
    height: 200px;
    width: 100px;
    background: white;
    border-radius: 9999px 0 0 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.right-content {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    word-wrap: break-word;
}

