*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.antiques-Component2-heading{
    color: #262626;
    font-family: 'Skywalks';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 45px;
    margin-bottom: 30px; */
    text-transform: capitalize;
}
.antiques-Component2-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.antiques-Component2-div{
    width: 100%;
    /* height: 50vh; */
    background-color: #FEE8D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    align-items: center;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.antiques-Component2-text{
    color: #262626;
    text-align: left;
    font-family: 'Skywalks';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: 1px;
}

.antiques-Component2-name{
    color: var(--black, #262626);
    text-align: center;
    font-family: 'Angello';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: 1px;
    text-transform: capitalize;
}
.antiques-Component-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.antiques-Component2-line{
    width: 100%;
    max-width: 180px;
}
.antiques-Component2-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 10px;
}

@media screen and (min-width: 768px){
    .antiques-Component2-line{
        max-width: 270px;
    }   

    .antiques-Component2-text{
        max-width: 450px;
    }

    .antiques-Component2-name{
        font-size: 40px;
        
    }
    .antiques-Component2-heading{
        font-size: 52px;
    }

}

