
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.Component29-2012-div{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Component29-2012-img{
    width: 100%;
    min-height: 40vh;
    object-fit: cover;
    margin-top: 0%;
}


.Component29-2012-heading-content{
    display: flex;   
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}


.Component29-2012-main{
   background-image: url('../Component29/assets/main.jpeg');
   width: 100%;
    flex: 1;
   object-fit: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   padding: 10px 0;

}

.Component29-2012-main-div{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.Component29-2012-content{
color: var(--black, #262626);
font-family: 'Lato';
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 150% */
letter-spacing: 1px;
align-self: flex-start;
}

.Component29-2012-heading-content-1{
    color: var(--white, #FFF);
font-family: 'Didone Room Numbers';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 5.768px;
/* padding: 20px; */
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
background-color:#262626;
text-wrap: nowrap;
}

.Component29-2012-heading-content-2{
    color: var(--black, #262626);
font-family: Skywalks;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 131.5%; /* 63.12px */
background-color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 15px;
padding-right: 15px;
text-wrap: nowrap;

}
.timeline-container {
    width: 100%;
    padding: 40px;
    margin-top: 20px;
}

.timeline-innercontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.timeline-innercontainer::after {
    content: '';
    width: calc(100% - 20px);
    height: 2px;
    background-color: #262626;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}


.dot {
    border-radius: 100%;
    border: 1px solid #262626;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dot-inner {
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: #262626;
}

.dot-info {
    position: absolute;
    top: -65px;
    background-color: white;
    padding: 5px 10px;
}

.dot-info::after {
    height: 40px;
    width: 2px;
    content: '';
    position: absolute;
    top: 100%;
    background-color: #262626;
    left: 50%;
    transform: translate(-50%);
}

.year{
    text-wrap: nowrap;
}

@media screen  and (min-width:768px){
    .Component29-2012-content{
        font-size: 18px;
        text-align: left;
        line-height: 30px;
    }

    .Component29-2012-main-div{
        padding-left: 80px;
        padding-right: 80px;
    }

    .Component29-2012-main{
        padding-top: 20px;
    }

    .Component29-2012-heading-content-1{
            font-size: 38px;
            padding-left: 30px;
            padding-right: 30px;
    }

    .Component29-2012-heading-content-2{
            font-size: 38px;
        
            padding-left: 30px;
            padding-right: 30px;
    }
    .year{
        font-size:20px;
        text-wrap: nowrap;
    }

    .Component29-2012-heading-content
    {
        top: 20px;
    }
}