    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.resin-Component6-div{
    width: 100%;
    min-height: 30vh;
    background-color: white;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -20px;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
}
.resin-Component6-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.resin-Component6-heading-img{
    width: 100%;
    max-width: 358px;
}
.resin-Component6-heading{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.resin-Component6-heading-content{
    color: white;
    text-shadow: 0px 39px 25px rgba(0, 0, 0, 0.25);
    font-family: 'Cormorant Garamond';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    /* position: relative;
    top: 10px; */
    position: absolute;
    z-index: 10;
}

.resin-since{
    color: var(--black, #262626);
    font-family: 'Skywalks';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.resin-year{
 text-align: center;
font-family: 'DidoneRoomNumbers';
font-size: 100px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 200px */
letter-spacing: 10px;
   background: url(../assets/bg.jpeg) 0 0 / cover no-repeat;
   color: black;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   width: 100%;
background-size: cover;
background-position: center;
}

@media screen and (min-width : 768px) {
    .resin-Component6-div{
        min-height: 67vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .resin-Component6-heading-img{
        width: 100%;
        max-width: 600px;

    }
    .resin-since{
        font-size: 60px;
    }
    .resin-Component6-heading-content{
       text-align: center;
       font-size: 40px;
    }
}
