.growth-Component5-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.growth-Component5-div{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    background-image: url('../assets/thinkbottombg.png');
    padding-bottom: 45px;
}

.growth-Component5-heading{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.growth-Component5-heading-img{
    width: 100%;
    max-width: 358px;
}
.growth-Component5-heading-content{
    color: #262626;
    text-shadow: 0px 39px 25px rgba(0, 0, 0, 0.25);
    font-family: 'Skywalks';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 10;
}

.growth-Component5-img{
    width: 100%;
}
.growth-Component5-div2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap : 25px;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    padding-bottom: 15px;
    max-width: 300px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 10px;
}
.growth-Component5-div2-1{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    align-items: center;
}


.growth-Component5-text{
    color: black;
    text-align: center;
    font-family: 'Skywalks';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 20px;
}


.growth-Component5-div2-1-2{
    color: black;
    text-align: left;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    padding-right: 10px;
    text-align: center;
}

.growth-Component5-div2-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    color: white;
    min-height: 7vh;

}

.growth-Component5-div2-2-1{
    color: black;
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.5px; 
}

.growth-Component5-div2-2-2{
    color: black;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.5px; 
    white-space: nowrap;
}

@media screen and (min-width:768px) {

    .growth-Component5-heading-img{
        width: 100%;
        max-width: 600px;

    }

     .growth-Component5-div2-1-2{
        padding-left: 10px;
    }
    .growth-Component5-text{
        font-size: 30px;
    }

    .growth-Component5-text{
        padding-left: 6px;
        font-size: 35px;
    }
   
    .growth-Component5-div2-2{
        gap: 0px;
    }

    .growth-Component5-div2-2-1{
        color: black;
        text-align: center;
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; 
        margin-bottom: 30px;
    }

    .growth-Component5-div2-1-2{
        color: black;
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        max-width: 387px;
        text-align: center;
    }
    .growth-Component5-img{
        max-width: 1000px;
    }

    .growth-Component5-div2-1{
        justify-content: center;
        gap: 45px;
        align-items: center;
        text-align: left;
    }
   
    .growth-Component5-div2-2-2{
        font-size: 32px;

    }
    .growth-Component5-div2-2-1{
        font-size: 32px;
    }
    .growth-Component5-heading-content{
        text-align: center;
        font-size: 40px;
     }
}
