.dropdown {
  position: relative;
  width: 383px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.dropdown-title-parent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.dropdown-title {
  font-family: 'Skywalks', sans-serif;
  color: #262626;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

.arrow {
  height: 50px;
  width: 50px;
}

.dropdown-content-parent {
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 36px;
  z-index: 99;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.dropdown-item {
  text-decoration: none;
  font-size: 24px;
  font-family: 'Skywalks', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  color: #262626;
}