*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.road-Component7-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100vh;
}

.link {
    display: flex;
}

.road-Component7-left{
    width: 120px;
    align-self: flex-end;
    padding-bottom: 100px;
    padding-left: 20px;
}
.road-Component7-right{
    width: 120px;
    align-self: flex-start;
    padding-top: 40px;
    padding-right: 20px;

}

.road-Component7-middle{
    width: 50vw;
}

@media screen and (max-width: 540px) {
    .road-Component7-left{
        width: 100px;
    }
    .road-Component7-right{
        width: 100px;
    }
    .road-Component7-middle{
        width: 52vw;
    }
}