

.plywood-Component5-div{
    width: 100%;
    height: 120vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.plywood-Component5-heading{

    /* width: 100%; */
    background-color: #262626;
    color: var(--white, #FFF);
    font-family: Skywalks;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px;
    margin-top: 45px;
    margin-bottom: 55px;
    text-align: center;
}

.plywood-Component5-img{
    width: 100%;
}
.plywood-Component5-div2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    height: 40vh;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
}
.plywood-Component5-div2-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.plywood-Component5-div2-1-1{
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Skywalks';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    letter-spacing: 1px;
}



.plywood-Component5-div2-1-2{
    color: var(--white, #FFF);
    text-align: left;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    padding-left: 10px;
    padding-right: 10px;
}

.plywood-Component5-div2-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    min-height: 7vh;

}

.plywood-Component5-div2-2-1{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.5px; /* 58.333% */
}

.plywood-Component5-div2-2-2{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.5px; /* 58.333% */
}

@media screen and (min-width:768px) {
    .plywood-Component5-div{
        height: 155vh;
    }
    .plywood-Component5-heading{
        margin-top: 105px;
    }

    .plywood-Component5-div2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 900px;
        height: 50vh;
        position: relative;
        top: -107px;
        padding-bottom: 40px;
    }

    .plywood-Component5-div2-2-1{
        color: var(--white, #FFF);
        text-align: center;
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 58.333% */
        margin-bottom: 30px;
    }

    .plywood-Component5-div2-1-2{
        color: var(--white, #FFF);
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        max-width: 387px;
    }
    .plywood-Component5-img{
        max-width: 1000px;
    }

    .plywood-Component5-div2-1{
        align-items:flex-start;
    }
    .plywood-Component5-div2-1-1{
        font-size: 40px;
        padding-top: 20px;
    }
}

@media screen and (min-width:768px) and (max-width: 1000px)  {
    .plywood-Component5-div2{
        top: -70px
    }
}