body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Skywalks";
  src: local("skywalks"),
    url("../src/fonts/skywalks.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Angello";
  src: local("Angello"),
    url("../src/fonts/Angello.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "DidoneRoomNumbers";
  src: local("DidoneRoomNumbers"),
    url("../src/fonts/DidoneRoomNumbers.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"),
    url("../src/fonts/Lato-Black.ttf") format("truetype");
  font-weight: normal;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}