        
        
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home-Component7-div{
    min-height: 100vh;
    background-color: white;
    /* max-height: 100vh; */
}

.home-Component7-heading{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.home-Component7-text1{
color: var(--black, #262626);
font-family: 'Skywalks';
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
align-self: center;
}

.home-Component7-text2{
    color: var(--black, #262626);
font-family: 'Skywalks';
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
align-self: center;
}

.home-Component7-img{
    width: 100%;
}

@media screen and(min-width:768px) {
    .home-Component7-text1{
        font-size: 64px;
    }

    .home-Component7-text2{
        font-size: 96px;
    }
}

@media screen and (min-width:440px) and (max-width:768px) {
    .home-Component7-text1{
        font-size: 34px;
    }
    .home-Component7-text2{
        font-size: 45px;
    }
    
}